<div class="container">
    <h1 class="add-post">Editing Post</h1>
    <%= render 'form', post: @post %>
    <div class="m-link">
        <%= link_to 'Show', @post%> 
        <%= link_to 'Back', posts_path%>
    <div>
</div>
